/* from materialize  GENERAL */

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*   general  */

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/*   list, links  */

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 {
    margin: 25px 0 10px 0;
}

/* from materialize  NAV */

nav .nav-wrapper {
    position: relative;
    height: 100%;
    box-shadow: 0 2px 2px #888888;
}

nav {
    height: 40px;
    line-height: 40px;
    display: block;
    color: #fff;
    background-color: #8c8d8d;
    width: 100%;
}

nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*margin-top: 10px;*/
}

nav .brand-logo {
    position: absolute;
    color: #2d2d2d;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

nav ul {
    margin: 0;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

nav a {
    color: #fff;
}

nav ul li {
    transition: background-color .3s;
    float: left;
    padding: 0;
}

nav input[type=text] {
    border: none !important;
    border-bottom: none !important;
    font-size: 24px;
}

nav input[type=text]:focus, nav input[type=text]:hover {
    border: none !important;
    border-bottom: none !important;
    background-color: #cecece;
}

/* general styling*/

.center, .center-align {
    text-align: center;
}

.right {
    float: right !important;
}

.green-blue {
    background-color: #41b6c4 !important;
}

.dark-blue {
    background-color: #225ea8;
}

.btn:hover {
    background-color: #1d91c0;
}

.link {
    cursor: pointer;
}

/*    forms    */

input {
    line-height: normal;
}

input[type=text] {
    background-color: transparent;
    border: none;
    /*border-bottom: 1px solid #9e9e9e;*/
    /*border-radius: 0;*/
    outline: none;
    /*height: 3rem;*/
    /*width: 100%;*/
    font-size: 1rem;
    /*margin: 0 0 15px 0;*/
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    /*border: 1px solid #9e9e9e;*/
    height: 2rem;
    width: 25rem;
}

input[type=text]:disabled {
    border: 1px dotted rgba(0, 0, 0, 0.26);
}

input[type=radio]:not(:checked), [type="radio"]:checked {
    position: relative;
    left: 0;
    opacity: 1;
    margin: 10px;
}

input[type=text]:focus:not([readonly]), textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

select {
    display: table;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
}

select:focus {
    outline: 1px solid #c9f3ef;
}

/*  */

.rule-forms {
    padding: 10px;
}

/* ruleTable Div */

.ruleDiv {
    clear: both;
    background-color: #f8f8f8;
    border-left: 2px solid #aaa;
}

.ruleResult {
    padding: 0 15px;
}

.quantifierDiv, .conditionDiv {
    float: left;
    width: 48%;
    padding-left: 10px;
}

.ruleTitleDiv {
    background-color: #e9e9e9;
    padding: 0 5px;
    border-radius: 7px;
}

.paddedDiv {
    padding: 5px 10px;
}

.ruleDescription {
    font-weight: bold !important;
    font-family: inherit;
}

.ruleDetail {
    font-family: inherit;
}

.ruleTitleDiv input[type=text] {
    width: 100% !important;
}

.ruleTitleDiv textarea {
    width: 100% !important;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    line-height: 1.5;
    border: none;
    font: 13px Tahoma, cursive;
    background: transparent;
}

.ruleTitleDiv input[type=text]:focus, .ruleTitleDiv input[type=text]:hover,
.ruleTitleDiv textarea:hover, .ruleTitleDiv textarea:focus {
    background-color: #f9f9f9;
}

.changed {
    border-left: 2px solid #8b1e1b !important;
    box-shadow: -1px 0 5px #8b1e1b;
}

.changedText {
    text-shadow: 1px 1px 5px;
}

/* * * */
.matches {
    color: #1f78b4
}

.satisfied {
    color: #33a02c;
}

.missing {
    color: #e31a1c;
}

.ruleResult li {
    display: block;
}

.partResultDiv {
    background-color: #3e3e3e;
    border-radius: 7px;
    padding: 0 5px;
}

/* SRCML xml styling */

.partResultDiv * {
    color: whitesmoke;
}

class, specifier {
    color: rgb(183, 100, 24) !important;
}

name {
    color: rgb(218, 166, 69) !important;
}

block {
    color: whitesmoke;
}

annotation, annotation * {
    color: rgb(173, 171, 0) !important;
}

/* rule generation*/

.rule-forms input[type=text] {
    border-radius: 0;
    margin: 0 0 15px 0;
    border: 1px solid #9e9e9e;
    height: 2rem;
    width: 25rem;
}
